
      p
      {
         color:black;
      }

      h1, h3,h4
      {
color:rgb(10, 167, 167)
      }
      
      
      table,th,td
      {
            border: solid black 2px;
            border-collapse: collapse;
            padding: 20px;
      }

      .nav{
            background-color: aquamarine;
      }